*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(114, 79, 72);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before{
    filter: blur(10px);
}

main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-bottom: 200px;
}

#title{
    width: 60%;
    margin: 0 auto;
}

img{
    max-width: 80%;
}

h2{
    color: rgb(145, 93, 86);
    margin-top: 50px;
}

h3{
    font-size: 36px;
    color: rgb(255, 255, 255);
}

iframe{
    width: 80%;
    margin: 50px auto 0;
}

p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 0 2%;
}

img, p, h2, h3{
    user-select: none;
    pointer-events: none;
}

.image-container{
    margin-top: 30px;
}

#imageContainer{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: 30px 0;
    padding: 0 2%;
    justify-content: center;
    align-items: center;
}

#imageContainer img{
    
    width: 30%;
}

#sudoCuteLink{
    color: white;
    background-color: green;
    font-size: 24px;
    width: 30%;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 0;
}

.textContainer{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 862px) {
    #title{
        width: 80%;
    }
    video{
        width: 100%;
    }
    #sudoCuteLink{
        width: 80%;
    }
}