article{
    margin: 60px auto 50px;
    padding: 30px 5%;
    max-width: 1000px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: linear-gradient(
        to top,                       /* Important: "to top" */
        rgb(45, 45, 45) 0%,           /* Solid dark at the bottom */
        rgb(45, 45, 45) 55%,          /* Stays solid until 30% from bottom */
        rgba(45, 45, 45, 0.7) 60%,    /* Starts fading */
        transparent 65%               /* Almost fully transparent at the top */
    );
}

#cv, #contact{
    margin: 30px 0;
}

#cv a , #contact a{
    text-decoration: none;
    background-color:rgb(138, 195, 248);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px 5%;
    transition: 0.3s;
}

#cv a:hover , #contact a:hover{
    color: rgb(76, 0, 0);
    background-color: #ff9900;
}

#CV-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0 0;
}

#CV-container h2{
    width: 30%;
    white-space: nowrap;
}

h2{
    text-align: center;
}



p{
    text-align: justify;
    margin-top: 30px;
}

#images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

article img{
    width: 30%;
    margin: 0px 1% 20px;
}

@media only screen and (max-width: 1450px) {
    section{
        border-radius: 20px;
    }
}

@media only screen and (max-width: 666px) {
    section{
        padding:0 0 50 0;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;   
    }
    p{
        font-size: 20px;
        text-align: center;
    }
    #CV-container h2{
        width: 100%;
    }
    #images{
        flex-direction: column;
        justify-content: center;
    }
    #images *{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}