section{
    margin: 0 auto;
    text-align: center;
    padding: 50px 5%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

article{
    background-color:#22222281;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    border: #2c3e3e 1px solid;
    border-radius: 20px;
    padding: 50px;
    z-index: 1;
    justify-content: center;
    opacity: 95%;
    transition: 0.3s;
}

article:hover{
    background-color: #00000083;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin:50px 0 50px;
}

h2{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-weight: bold;
}

input , textarea{
    border-radius: 20px;
    width: 80%;
    background-color: #0e161b;
    color: rgb(138, 195, 248);
    border: 0;
    margin: 10px auto;
    font-size: 24px;
    transition: 0.3s;
    padding: 10px;
}

textarea{
    resize: none;
}

input:focus, textarea:focus{
    color: white;
    outline: none;
}

input::selection{
    border: 0;
}

#button, #send{
    background-color:rgb(138, 195, 248) ;
    border: 0;
    width: 50%;
    color: black;
}

#button:hover, #send:hover{
    background-color:rgb(255, 255, 255);
    
    width: 55%;
}

span{
    color: red;
}

a, p{
    text-decoration: none;
    color: rgb(138, 195, 248);
}

a:hover{
    color: white;
}


section{
    border-radius: 20px;
}

@media only screen and (max-width: 1450px) {
    #vje, #jel, #paralax2, #paralax3{
        display: none;
    }
    article{
        width: 75%;
    }
}

@media only screen and (max-width: 666px) {
    article{
        width: 85%;
        padding:5%;
    }
    form{
        width: 100%;
    }
    section{
        padding:50px 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input, textarea{
        width: 95%;
        border-radius: 5px;
        font-size: 20px;
    }
}