/* Games Logos Styling */
#gameSection {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px 10%;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 700px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
    transition: all 0.3s ease;
    border-radius: 12px;
    padding: 10px 0;
     background: linear-gradient(
        to bottom,                       /* Important: "to top" */
        rgb(45, 45, 45) 0%,           /* Solid dark at the bottom */
        rgb(45, 45, 45) 70%,          /* Stays solid until 30% from bottom */
        rgba(45, 45, 45, 0.7) 80%,    /* Starts fading */
        transparent 100%               /* Almost fully transparent at the top */
    );
}

article:hover {
    transform: translateY(-8px);
    background-color: #333;
    box-shadow: 0 10px 20px rgba(255, 153, 0, 0.3);
}

article:hover h4{
    font-weight: bold;
}

.game-year {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ff9900;
    margin-top: 12px;
}

article *{
    border: none;
}

article img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 12px;
    transition: all 0.3s;
}

article h4 {
    margin-bottom: 8px;
    font-size: 20px;
    color: #ddd;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 862px) {
    article {
        width: 160px;
    }
    article img {
        width: 130px;
        height: 130px;
    }
}