*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #333;
    background-image: url("img/backGroundHome.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    margin-top: 250px;
    transition: 0.1s;
}

img{
    user-select: none;
    pointer-events: none;
}

h1{
    margin-top: 200px;
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 150px;
    user-select: none;
    transition: 0.2s;
}

.titleScroll{
    height: 0;
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
    visibility: hidden;
    margin-bottom: -100px;
}

.text-container{
    width: 35%;
    padding: 30px;
    margin: 0 30px;
    background-color: rgb(220, 84, 1);
    border-radius: 15px;
}

h2{
    margin-bottom: 30px;
    font-size: 30px;
    user-select: none;
}

p{
    font-size: 24px;
    user-select: none;
    line-height: 1.5;
}


section{
    color: white;
    margin: 0 auto;
    padding-bottom: 100px;
}


footer{
    height:200px;
    display: flex;
    flex-direction: row;
    background-color: rgba(1, 1, 1, 0.226);
    align-items: center;
    justify-content:center;
    color: white;
}

footer a{
    margin: 0 2%;
    color: white;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(51, 51, 51); /* Change this to your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

#preloader img{
    width: 15%;
}

@media only screen and (max-width: 1200px) {
    #preloader img{
        width: 30%;
    }
}

@media only screen and (max-width: 862px) {
    #preloader img{
        width: 50%;
    }
    h1{
        font-size: 50px;
    }
    footer{
        flex-direction: column;
    }
    footer a{
        margin: 10px 0;
    }
}